html, body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	text-align: center;
}

header {
	font-size: .8rem;
}

header h1 {
	font-size: 4rem;
	margin-bottom: 0;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	color: white;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000,
		0px 2px 2px #000;
}

header .pronounce {
	margin-top: 0;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
}
header .pronounce strong {
	font-size: 2rem;
	font-weight: 800;
}

.icons {
	margin: 2.5rem 0;
}
.icons::after {
	float: clear;
}

.icons span {
	display: inline-block;
	vertical-align: top;
}

.icons svg {
	width: 70px;
	height: 40px;
}

.icons .title {
	
	text-align: center;
	font-size: .6rem;
}